.barre_nav {
	background: linear-gradient(#2d3841, #010c16);
	width: 100%;
	display: block;
	float: left;
	padding: 0px 17px;
}

.barre_nav a {
	text-decoration: none;
	border-left: 1px solid #626a72;
	/*border-right: 1px solid #16212c;*/
	color: white;
	padding-left: 5px;
}

.barre {
	margin-top: 20px;
	padding-left: 79px;
}

ul {
	list-style-type: none;
}

.menu {
	padding-left: 45px;
	text-transform: uppercase;
}

.menu li {
	display: inline;
	/*border-top-width: 3px;
	border-top-style: solid;
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-style: solid;*/
}

.menu a {
	color: black;
	font-weight: bold;
	/*border-top-width: 3px;
	border-top-style: solid;
	border-bottom-width: 1px;
	border-bottom-style: solid;*/
	background-color: beige;
	display: inline-block;
}

.menuderoulant {
	background-color: white;
}

.yellow {
	background-color: gold;
	color: black;
}

.icone_accueil {
	width: 17px;
}


#accueil {
	border-top-color: #16212c;
}

#international {
	border-top-color: #026B9C;
}

#politique {
	border-top-color: #190A52;
}

#societe {
	border-top-color: #AA0202;
}

#eco {
	border-top-color: #CB2626;
}

#culture {
	border-top-color: #C20447 ;
}

#idees {
	border-top-color: #2E3942;
}

#planete {
	border-top-color: #298028 ;
}

#sport {
	border-top-color: /*#7EA640*/ #6FAA12;
}

#sciences {
	border-top-color: #0A908B;
}

#pixels {
	border-top-color: #00825B;
}

#campus {
	border-top-color: #FF9E64 ;
}

#mag {
	border-top-color: #1E2831 ;
}

#yellow {
	border-top-color: gold ;
	background-color: gold;
}

#accueil, #international, #politique, #societe, #eco, #culture, #idees, #planete, #sport, #sciences, #pixels, #campus, #mag, #yellow {
	border-top-width: 4px;	
	border-style: solid;
	border-left: none;
	border-right: none;
	border-bottom: none;
}

.barre_inferieur {
	background-color: black;
	padding-left: 179px;
}

#encemoment {
	background-color: red;
	color: white;
	text-transform: uppercase;
}

ul.barre_inferieur a {
	color: white;
}

.triangle-right { 
	width: 0; 
	height: 0; 
	border-top: 25px solid transparent; 
	border-left: 50px solid red; 
	border-bottom: 25px solid transparent; 
}
